/* Custom styles for navbar */

/* DEFAULT STATE - ALL NAVBAR LINKS SHOULD BE BLACK */
.navbar-light .nav-link,
.navbar-light .nav-link.active,
.navbar-light .nav-link.dropdown-toggle {
    color: #000 !important;
}

/* SPECIAL CASE - ONLY when navbar is at the top and transparent, links are WHITE */
header.header-transparent.header-absolute-top:not(.sticky-fixed):not(.is-fixed) .navbar-light .nav-link,
header.header-transparent.header-absolute-top:not(.sticky-fixed):not(.is-fixed) .navbar-light .nav-link.active,
header.header-transparent.header-absolute-top:not(.sticky-fixed):not(.is-fixed) .navbar-light .nav-link.dropdown-toggle {
    color: #fff !important;
}
@media (min-width: 992px) {
    header.header-sticky.is-sticky .navbar.navbar-expand-lg.navbar-light {
        background-color: #110e0e !important;
    }
}
@media (max-width: 991.98px) {
    .navbar-expand-lg.navbar.navbar-light .navbar-collapse {
        background-color: #110e0e !important;
    }
}